.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.container {
  display: grid;
  grid-template-areas: "left right";
  grid-template-columns: 1fr 1fr;
}

@media all and (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-areas:
      "left"
      "right";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
